* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    overflow: hidden;
    position: relative;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    justify-content: center;
}

#cvs {
    background: rgb(52, 104, 104);
}

.up,
.lr,
.down {
    display: flex;
    justify-content: center;
}

.up button,
.lr button,
.down button {
    margin: 10px;
    width: 70px;
    height: 20px;
}

.modal {
    background-color: blue;
    position: absolute;
    top: 100px;
    right: 10px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 0.3s ease-in-out;
    z-index: 100;
}

.modalA {
    top: 100px;
}