* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(26, 32, 32);
    overflow: hidden;
    position: relative;
    color: rgba(240, 248, 255, .7);
    width: 100vw;
    height: 100vh;
}

.menu {
    width: 100%;
    height: 100%;
}

.main-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    transition: transform .5s linear;
}

.logo h1 {
    font-size: 60px;
    position: relative;
}

.o {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: rgba(240, 248, 255, .7);
    position: relative;
    border-radius: 45%;
    margin: 0 3px;
    animation: wiggle 3s infinite ease-in-out;
}

.o img {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 2px;
    left: 2px;
}

.setName {
    position: relative;
    bottom: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: 5px;
    padding: 5px;
    color: inherit;
    font-size: 20px;
}

.setName>button {
    margin: 5px;
    font-size: 20px;
}

.inputName {
    display: flex;
    margin: 5px;
}

.inputName input {
    border: none;
    outline: none;
    background-color: transparent;
    box-shadow: white 0 0 3px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 5px;
    font-size: 20px;
    color: white;
}

.inputName button {
    display: flex;
    padding: 5px;
    border-radius: 0;
    box-shadow: white 0 0 3px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.wrapper-game {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100%);
    transition: transform .5s linear;
}

.info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.steps {
    margin: 0 5px;
}

#cvs {
    background: rgb(26, 32, 32);
}

.aboutScreen,
.records-screen {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(26, 32, 32);
    transform: translateX(100%);
    transition: transform .5s linear;
}

.modalSetting {
    width: 800px;
    height: 400px;
    background: rgb(26, 32, 32);
    position: absolute;
    top: 100px;
    left: 320px;
    border-radius: 4px;
    box-shadow: inset 0 0 4px white;
    padding: 5px;
    display: none;
    opacity: 0;
    transition: opacity .7s linea;
}

.modalSetting-active {
    opacity: 1;
}

@keyframes wiggle {
    0% {
        transform: rotateZ(0);
    }
    25% {
        transform: rotateZ(-25deg);
    }
    50% {
        transform: rotateZ(0);
    }
    75% {
        transform: rotateZ(25deg);
    }
    100% {
        transform: rotateZ(0);
    }
}